@use '@/styles/abstract' as *;

.typewriter {
  &:after {
    @include transition(opacity);
  }
  &.typing {
    &:after {
      content: '|';
      animation: blink $animation-duration-slow $animation-timing-function infinite;
      margin-left: -0.25em;
    }
  }
}
