# dependencies
node_modules
.pnp
.pnp.js
*.gz

# testing
coverage

# output
.next
out
build
dist
robots.txt
sitemap.xml

# misc
.DS_Store
*.pem

# cache
cache
.dccache

# debug
*.log*

# env
*.env*
!*.example

# vercel
.vercel

# typescript
*.tsbuildinfo
