# dependencies
node_modules
.yarn
.pnp
.pnp.js
*.gz

# testing
coverage

# next.js
.next
out

# production
build
dist

# misc
.DS_Store
*.pem

# cache
cache
.dccache

# debug
*.log*

# env
*.env.*
!*.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# docs
CHANGELOG.md