@use 'styles/abstract' as *;

.home {
  &.hero {
    min-height: 100vh;

    .container {
      display: flex;
      align-items: center;
    }
  }

  &.section {
    padding-bottom: rem(100px);

    h1 {
      font-size: 10rem;
      font-weight: 700;
      line-height: 1;
      opacity: 20%;
      margin-bottom: 2rem;
      text-shadow: rem(2px) rem(2px) rem(20px) alpha(text, 0.5);
    }
  }

  &.code {
    .repo {
      &-list {
        position: relative;
        display: flex;
        gap: $grid-gutter;
        flex-wrap: wrap;
        justify-content: stretch;
        z-index: 2;
      }

      &-card {
        width: calc((100% - ($grid-gutter * 2)) / 3);
        min-height: 100%;
        padding: 2rem 3rem;
        background-color: alpha(bg, 0.5);
        @include transition(transform box-shadow background-color);

        @include breakpoint(md) {
          width: calc((100% - ($grid-gutter * 2)) / 2);
          padding: 2rem;
        }
        @include breakpoint(sm) {
          width: 100%;
        }

        p {
          opacity: 50%;
          @include text-overflow();
        }

        &:hover {
          transform: translateY(-4%);
          box-shadow: rem(2px) rem(8px) rem(20px) rem(4px) alpha(text, 0.05);
        }
      }

      &-link {
        max-width: max-content;

        &__chevron {
          @include transition(opacity width margin);

          &:first-of-type {
            margin-left: 0.5em;
            opacity: 0;
            width: 0em;
          }
        }

        &:hover {
          .repo-link__chevron {
            &:first-of-type {
              opacity: 1;
              width: 1em;
            }
            &:last-of-type {
              margin-left: -0.4em;
            }
          }
        }
      }
    }
  }

  &.projects {
    .projects {
      &-title {
        margin-bottom: 4rem;
      }
    }

    .project {
      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: $grid-gutter;
      }
      &-card {
        position: relative;
        width: 100%;
        color: $white;

        &:hover {
          .project {
            &-card {
              &__overlay {
                opacity: 0;
              }
              &__img {
                transform: scale(1.02);
              }
            }
          }
        }

        &:nth-of-type(1) {
          padding-bottom: 40%;
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          width: calc((100% - $grid-gutter) / 2);
          padding-bottom: 25%;
        }
        &:nth-of-type(3) {
          padding-bottom: 20%;
        }

        &__inner {
          position: absolute;
          inset: 0;
          z-index: 3;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
          height: 100%;
          padding: rem(20px) rem(30px);
        }
        &__title {
          border-bottom: rem(1px) solid rgba($white, 0.5);
        }
        &__id {
          margin: 0;
        }
        &__img {
          @include transition(transform);
        }
        &__overlay {
          position: absolute;
          inset: 0;
          z-index: 2;
          background-color: $black;
          opacity: 0.5;
          @include transition(opacity);
        }
      }
    }
  }
}
