@use 'styles/abstract' as *;

.home {
  &.hero {
    min-height: 100vh;

    .container {
      display: flex;
      align-items: center;
    }
  }

  &.code {
    min-height: 100vh;

    h1 {
      font-size: 10rem;
      font-weight: 700;
      line-height: 1;
      opacity: 20%;
      margin-bottom: 2rem;
      text-shadow: rem(2px) rem(2px) rem(20px) alpha(text, 0.5);
    }

    .repo {
      &-list {
        position: relative;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: stretch;
        z-index: 2;
      }

      &-card {
        width: calc((100% - 4rem) / 3);
        min-height: 100%;
        padding: 2rem 3rem;
        background-color: alpha(bg, 0.5);
        @include transition(transform box-shadow background-color);

        @include breakpoint(md) {
          width: calc((100% - 4rem) / 2);
          padding: 2rem;
        }
        @include breakpoint(sm) {
          width: 100%;
        }

        p {
          opacity: 50%;
          @include text-overflow();
        }

        &:hover {
          transform: translateY(-4%);
          box-shadow: rem(2px) rem(8px) rem(20px) rem(4px) alpha(text, 0.05);
        }
      }

      &-link {
        max-width: max-content;

        &__chevron {
          &:first-of-type {
            margin-left: 0.5em;
            opacity: 0;
            width: 0em;
            @include transition(opacity width);
          }
        }

        &:hover {
          .repo-link__chevron {
            &:first-of-type {
              opacity: 1;
              width: 1em;
            }
          }
        }
      }
    }
  }
}
