@use '@/styles/abstract' as *;

.home {
  &.hero {
    min-height: 100vh;

    .container {
      display: flex;
      align-items: center;
    }
  }

  &.section {
    padding-bottom: rem(100);

    h1 {
      font-size: 10rem;
      font-weight: 700;
      line-height: 1;
      opacity: 20%;
      margin-bottom: 2rem;
      text-shadow: rem(2) rem(2) rem(20) alpha(text, 0.5);

      @include breakpoint(sm) {
        font-size: calc(8vw + 2rem);
      }
    }
  }

  &.code {
    .repo {
      &-list {
        position: relative;
        display: flex;
        gap: $grid-gutter;
        flex-wrap: wrap;
        justify-content: stretch;
        z-index: 2;
      }

      &-card {
        width: calc((100% - ($grid-gutter * 2)) / 3);
        min-height: 100%;
        padding: 2rem 3rem 2.2rem;
        background-color: alpha(primary, 0.05);
        border-radius: rem(10);
        @include transition(transform box-shadow background-color);

        @include breakpoint(md) {
          width: calc((100% - ($grid-gutter * 2)) / 2);
          padding: 2rem;
        }
        @include breakpoint(sm) {
          width: 100%;
          box-shadow: 0 0 rem(16) 0 alpha(text, 0.1);
        }
        @include breakpoint(md, up) {
          &:hover {
            transform: translateY(-4%);
            box-shadow: rem(2) rem(8) rem(20) rem(4) alpha(text, 0.05);
          }
        }

        &__title {
          margin-bottom: 0.5rem;
        }
        &__description {
          opacity: 70%;
          @include text-overflow();
        }
        &__language {
          font-size: 0.8em;
          font-style: italic;
          opacity: 60%;
          margin-bottom: 0.6rem;
        }
      }

      &-count {
        &__row {
          display: flex;
          opacity: 0.9;
          margin-bottom: 0.6rem;
        }
        &__icon {
          height: 0.8em;
        }
        &__num {
          margin: 0 0.7rem 0 0.5rem;
        }
      }

      &-link {
        max-width: max-content;
        overflow: hidden;

        &__chevron {
          @include transition(opacity width margin);

          &:first-of-type {
            margin-left: 0.5em;
            opacity: 0;
            width: 0em;
          }
        }

        @include breakpoint(md, up) {
          &:hover {
            .repo-link__chevron {
              &:first-of-type {
                opacity: 1;
                width: 1em;
              }
              &:last-of-type {
                margin-left: -0.4em;
              }
            }
          }
        }
      }
    }
  }

  &.projects {
    .projects {
      &-title {
        margin-bottom: 4rem;
      }
    }

    .project {
      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: $grid-gutter;
      }
      &-card {
        position: relative;
        overflow: hidden;
        width: 100%;
        color: $white;

        @include breakpoint(md, up) {
          &:hover {
            .project {
              &-card {
                &__overlay {
                  opacity: 0;
                }
                &__img {
                  transform: scale(1.02);
                }
              }
            }
          }
        }

        &:nth-of-type(1) {
          padding-bottom: 40%;
        }
        &:not(:nth-of-type(1)) {
          width: calc((100% - $grid-gutter) / 2);
          padding-bottom: 25%;

          @include breakpoint(sm) {
            width: 100%;
            padding-bottom: 40%;
          }
        }

        &__inner {
          position: absolute;
          inset: 0;
          z-index: 3;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
          height: 100%;
          padding: rem(20) rem(30);
        }
        &__title {
          border-bottom: rem(1) solid rgba($white, 0.5);
        }
        &__id {
          margin: 0;
        }
        &__img {
          @include transition(transform);
        }
        &__overlay {
          position: absolute;
          inset: 0;
          z-index: 2;
          background-color: $black;
          opacity: 0.5;
          @include transition(opacity);
        }
      }
    }
  }

  &.experience {
    .experience {
      $experience: &;
      &-title {
        margin-bottom: 4rem;
      }
      &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-card {
        $card: &;
        $border: 2;
        position: relative;
        width: 100%;
        max-width: rem(600);
        padding: rem(20) rem(30);
        border: #{$border}px solid transparent;
        border-radius: rem(10);
        background-color: alpha(primary, 0.05);
        box-shadow: 0 rem(4) rem(16) rem(8) alpha(text, 0.1);
        @include transition(border-color);

        &:not(:last-child) {
          $length: 6;
          margin-bottom: #{$length}rem;

          &::before {
            content: '';
            position: absolute;
            inset: 100% 0 0;
            margin: 0 auto;
            width: rem(4);
            height: calc(#{$length}rem + #{$border}px);
            background-color: $secondary;
          }
          &::after {
            content: '';
            $size: 1;
            position: absolute;
            inset: calc(100% - #{$size / 2}rem + #{$border}px) 0 0;
            margin: 0 auto;
            width: #{$size}rem;
            height: #{$size}rem;
            background-color: color(text);
            border-radius: 50%;
            animation: ping calc($animation-duration-slow * 2) ease-out infinite;
          }
        }

        @include breakpoint(md, up) {
          &:hover {
            border-color: alpha(primary, 0.2);
          }
        }

        &__year {
          position: absolute;
          inset: -3rem auto 0 -2.6rem;
          opacity: 0.1;
          font-weight: 700;

          @include breakpoint(sm) {
            inset: -3rem auto 0 0rem;
          }
        }
        &__title {
          margin: 0;
        }
        &__company {
          display: inline-flex;
          margin-bottom: 0.75rem;
          opacity: 0.5;
        }
        &__description {
          margin-bottom: 0.5rem;
          opacity: 0.7;
        }
      }
    }
  }

  &.contact {
    .contact {
      &-message {
        max-width: 40ch;
      }
      &-row {
        display: flex;

        @include breakpoint(sm) {
          flex-direction: column;
        }
      }
      &-col {
        flex-basis: 50%;
        width: 100%;
        padding-right: rem(40);
        white-space: pre-wrap;

        &.content {
          display: flex;
          flex-direction: column;
          gap: rem(70);
          margin-bottom: 4rem;

          @include breakpoint(sm) {
            gap: rem(20);
          }
        }

        &__row {
          .socials {
            margin-top: 1rem;
          }
        }
      }
      &-form {
        display: flex;
        flex-direction: column;
        padding: rem(55) rem(50);
        border-radius: rem(20);
        background-color: alpha(primary, 0.05);

        @include breakpoint(sm) {
          padding: 0;
          background: none;
        }
      }
      &-block {
        display: flex;
        align-items: center;
        margin-bottom: rem(20);

        &__text {
          @include margin(null, null, 0, 1rem);
        }
        &__icon {
          width: 1em;
        }
      }
    }
  }
}

.youveactivatedmycard {
  display: none;
}
.disclaimer {
  font-size: 0.8em;
  color: alpha(text, 0.5);
  margin-top: 2rem;

  &-link {
    display: inline-block;
  }
}
.grecaptcha-badge {
  opacity: 0;
}

$card-background: rgba(
  $color: $secondary,
  $alpha: 0.18,
);
@include theme(dark) {
  .home {
    &.experience {
      .experience {
        &-card {
          background-color: $card-background;
          box-shadow: 0 rem(4) rem(16) rem(8) alpha(secondary, 0.05);
        }
      }
    }
    &.code {
      .repo {
        &-card {
          background-color: $card-background;
        }
      }
    }
  }
}
