.services {
	height: 95vh;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

	.text {
		margin: 1rem 0;
	}

	.skill-cards {
		display: flex;

		.skill-card {
			flex: 1;
			background: transparent;
			width: 100%;
			box-shadow: 1px 3px 3px black;
			margin: 0.5rem;
			align-items: center;
			text-align: center;
			padding-bottom: 0.5rem;

			.skill-card-icon {
				margin-top: 20px;
			}
			.skill-card-text {
				margin: 15px 30px;
				color: #959b9b;
				line-height: 3vh;

				.skill-card-title {
					font-size: calc(0.5vw + 1rem);
					margin: 0;
				}
				.skill-card-description {
					font-size: calc(0.3vw + 1rem);
					font-weight: 400;
					margin: 0;
				}
				.skill-card-list {
					font-size: calc(0.2vw + 1rem);
					font-weight: 400;
					margin: 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.services {
		.skill-card {
			margin: 0.2rem;
			.skill-card-title {
				margin: 1rem 0;
			}
		}
	}
}
@media only screen and (max-width: 512px) {
	.services {
		.text {
			margin: 0;
		}
		.skill-cards {
			flex-direction: column;

			.skill-card {
				width: 80vw;

				.skill-card-icon {
					margin-top: 1rem;
				}
				.skill-card-text {
					.skill-card-title {
						margin: -1rem 0 1rem;
					}
				}
			}
		}
	}
}
