@use 'styles/abstract' as *;

[data-theme='light'] {
  --color-primary: #{$primary};
  --color-secondary: #{$secondary};
  --color-error: #{$error};
  --color-black: #{$black};
  --color-white: #{$white};
}
