@use 'styles/abstract' as *;

.footer {
  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
  }

  &__divider {
    height: rem(1px);
    background-color: color(primary);
  }

  &__copyright {
    margin: 0;
  }
}
