@use 'styles/abstract' as *;

.nav {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: alpha(bg, 0.4);
  box-shadow: 0 rem(4px) rem(10px) 0 alpha(text, 0.05);
  backdrop-filter: saturate(150%) blur(4px);
  @include transition(background-color box-shadow padding);

  &.min {
    padding: 1rem 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 0;
  }
  &__links {
    display: flex;
    align-items: center;
  }
}

@include theme(dark) {
  .nav {
    background-color: alpha(primary, 0.05);
    box-shadow: 0 rem(4px) rem(20px) 0 alpha(text, 0.01);
  }
}
