@use 'styles/abstract' as *;

.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background: alpha(text, 0.05);
  box-shadow: 0 rem(4px) rem(8px) 0 alpha(text, 0.05);
  backdrop-filter: saturate(150%) blur(4px);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    margin-bottom: 0;
  }
}
