@use 'styles/abstract' as *;

.socials {
  display: flex;

  &__link {
    margin-left: 1rem;
    @include transition(opacity);

    &:hover {
      @include theme(light) {
        opacity: 50%;
      }

      svg {
        filter: brightness(300%);

        @include theme(light) {
          filter: brightness(100%);
        }
      }
    }
  }

  svg {
    height: 1.5rem;
    color: color(primary);
    @include transition(filter);
  }
}
