@use 'styles/abstract' as *;

.theme-changer {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .gear {
    position: absolute;
    inset: 0;
    background-color: color(primary);
    border-radius: 50%;
    transition: transform $animation_duration $animation_timing_function,
      background-color $animation_duration $animation_timing_function;

    &.tooth {
      border-radius: rem(2px);
      width: 120%;
      height: 25%;
      left: -10%;
      top: auto;
      bottom: auto;
      transition: transform $animation_duration_slow $animation_timing_function;

      &:nth-child(2) {
        transform: rotate(45deg);
        transition: transform $animation_duration_slow $animation_timing_function_2;
      }
      &:nth-child(3) {
        transform: rotate(90deg);
        transition: transform $animation_duration_slow $animation_timing_function_3;
      }
      &:nth-child(4) {
        transform: rotate(135deg);
        transition: transform $animation_duration_slow $animation_timing_function_4;
      }
    }
  }

  .circle {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: color(secondary);
    border-radius: 50%;
    transition: transform $animation_duration $animation_timing_function,
      width $animation_duration $animation_timing_function, height $animation_duration $animation_timing_function;

    &.inner {
      background-color: color(primary);
      width: 30%;
      height: 30%;
    }
  }

  &.dark {
    .gear {
      &.tooth {
        transform: rotate(360deg);

        &:nth-child(2) {
          transform: rotate(405deg);
        }
        &:nth-child(3) {
          transform: rotate(450deg);
        }
        &:nth-child(4) {
          transform: rotate(495deg);
        }
      }
    }

    .circle {
      &.inner {
        width: 50%;
        height: 50%;
        transform: translateX(-35%);
      }
    }
  }
}
