.card {
  color: white;
  background-size: cover;
  padding: 10rem 0 0;
  width: 18.2vw;
  height: 12vh;
  margin: 0.7vw;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  line-height: 1.6;
}

.card .card-content {
  padding: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0.3)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 20%, black);
}

.card .card-content .card-title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-overflow: ellipsis;
}

.card .card-content .card-title:after {
  content: '';
  position: absolute;
  height: 4px;
  width: calc(100% + 1.5rem);
  left: calc(1.5rem * -1);
  bottom: -5px;
  background: #422a2a;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.card .card-content .card-body {
  color: rgba(255, 255, 255, 0.85);
}

.card .card-content .button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #422a2a;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

@media (hover) {
  .card:hover, .card:focus-within {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .card:hover .card-content, .card:focus-within .card-content {
    -webkit-transform: translateY(-6.5vh);
            transform: translateY(-6.5vh);
    -webkit-transition-delay: 500ms;
            transition-delay: 500ms;
  }
  .card:hover .card-content > *:not(.card-title), .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    -webkit-transition-delay: 750ms;
            transition-delay: 750ms;
  }
  .card:hover .card-content .card-title::after, .card:focus-within .card-content .card-title::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .card:focus-within .card-content {
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .card .card-content {
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
  }
  .card .card-content > *:not(.card-title) {
    opacity: 0;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
  }
  .card .button:hover, .card .button:focus {
    background-color: #13171b;
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    margin: 1.3vw;
    width: 30vw;
    height: 7vw;
  }
  .card .card-content {
    -webkit-transform: translateY(-55%);
            transform: translateY(-55%);
  }
  .card .card-content .card-title {
    font-size: 2vw;
  }
  .card .card-content .card-body {
    font-size: 1.4vw;
  }
  .card .card-content .button {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    margin: 0.8vw;
    width: 31vw;
    height: 7vw;
  }
  .card .card-content {
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
  }
}

.raven {
  background-image: url("/src/images/raven.png");
}

.zapr {
  background-image: url("/src/images/zapr.gif");
}

.ciel {
  background-image: url("/src/images/ciel.png");
}

.ravenunsupported {
  background-image: url("/src/images/raven(unsupported).png");
}

.digitclassification {
  background-image: url("/src/images/digitclassification.gif");
}

.objectdetection {
  background-image: url("/src/images/objectdetection.gif");
}

.plannr {
  background-image: url("/src/images/plannr.gif");
}
/*# sourceMappingURL=card.css.map */