.contact {
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 1vw 0;

	.contact-title {
		font-size: calc(1.5vw + 1rem);
		margin: 2rem 0;
	}

	form {
		display: flex;
		flex-direction: column;
		margin-top: 5vh;
		background-color: rgba($color: #31314d, $alpha: 0.1);
		padding: 1rem 3rem;
		border-radius: 2%;

		.contact-input {
			width: 720px;
			max-width: 80vw;
			margin: 1.5rem auto;
			background: transparent;
		}

		.contact-btn {
			background: #583333;
			padding: 0.5rem;
			font-size: 1.2rem;
		}

		.confirmation {
			width: 0 auto;
		}

		.MuiInputLabel-root {
			color: #959b9b;
			font-size: 1.2rem;
		}
		.MuiInputBase-root {
			color: #959b9b;
			font-size: 1.2rem;
			line-height: 2rem;
		}
		.MuiInput-underline::after {
			border-bottom-color: #583333;
		}
	}
}
