@use 'styles/abstract' as *;

@keyframes blink {
	50% {
		opacity: 0;
	}
}

@keyframes ping {
	0% {
		box-shadow: 0 0 0.3em 0 rgba($primary, 0);
	}
	60% {
		box-shadow: 0 0 1em 0.2em rgba($primary, 0.1);
	}
	100% {
		box-shadow: 0 0 0.3 0 rgba($primary, 0);
	}
}
