@use 'styles/abstract' as *;

::-webkit-scrollbar {
  width: rem(10px);
}
::-webkit-scrollbar-track {
  background-color: alpha(primary, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: color(primary);
}

*,
*::before,
*::after {
  animation-duration: $animation-duration;
  animation-timing-function: $animation-timing-function;
}

:root {
  color: color(text);
  background-color: color(bg);
  @include transition(color background-color);
}

@include theme();
