@use 'styles/abstract' as *;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba($color: color(primary), $alpha: 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: color(primary);
}

*,
*::before,
*::after {
  animation-duration: $animation_duration;
  animation-timing-function: $animation_timing_function;
}

:root {
  color: color(black);
  background-color: color(white);
  transition: color $animation_duration $animation_timing_function,
    background-color $animation_duration $animation_timing_function;
}
