@use 'styles/abstract' as *;

@font-face {
  font-family: $font-body;
  src: local($font-body) url($font-face-url) format($font-face-format);
  font-display: swap;
}

html {
  font-family: $font-body, $font-body-fallback;
  font-smooth: always;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
  @include breakpoint(lg, up) {
    font-size: $font-size;
  }
}

@include headings {
  font-family: $font-heading, $font-body-fallback;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

h1,
.h1 {
  font-size: 3em;
}

h2,
.h2 {
  font-size: 2em;
}

h3,
.h3 {
  font-size: 1.75em;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: 1.5em;
}

a {
  color: color(primary);
  text-decoration: none;

  &:hover,
  &:focus {
    color: alpha(primary, 0.5);
  }
}

p:not([class]),
ul:not([class]),
li:not([class]) {
  max-width: 60ch;
}

.error {
  color: color(error);
  margin-bottom: 1rem;
}
