.app {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	.toolbar {
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			width: 3rem;
			height: auto;
		}
	}

	.screen {
		padding-top: 3rem;
		position: relative;
		height: 92vh;

		// ::after {
		// 	position: absolute;
		// 	display: block;
		// 	content: '';
		// 	background-image: url('../images/bg.gif');
		// 	background-repeat: no-repeat;
		// 	background-position: 50% 0;
		// 	background-size: cover;
		// 	background-attachment: fixed;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	opacity: 0.3;
		// 	z-index: -10;
		// }
	}
}
