.app {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	.toolbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 2;
		background: rgba($color: #000000, $alpha: 0.2);

		img {
			width: 3rem;
			height: auto;
		}

		.tab {
			font-size: 1rem;
		}
	}

	.screen {
		padding-top: 3rem;
		position: relative;
		height: 92vh;
	}

	.tsparticles-canvas-el {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
	}
}
