@use '@/styles/abstract' as *;

html {
  font-smooth: always;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
  @include breakpoint(lg, up) {
    font-size: $font-size;
  }
}

@include headings {
  font-weight: 500;
  margin-bottom: 1rem;
}

h1,
.h1 {
  font-size: 3em;
}

h2,
.h2 {
  font-size: 2em;
}

h3,
.h3 {
  font-size: 1.75em;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: 1.5em;
}

a {
  color: color(text);
  text-decoration: none;
  display: flex;
  @include transition(color);

  &:hover,
  &:focus {
    color: color(primary);
  }
}

p,
ul,
li {
  max-width: 100ch;
  margin-bottom: 1rem;
}

.error {
  color: color(error);
  margin-bottom: 1rem;
}
